body {
  font-family: "proxima-nova", "museo", "Helvtica", Arial, sans-serif;
}

.map {
  height: 400px;
  width: 100%;
  margin-bottom: 2em;
}

.log {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  border: 1px solid grey;
  color: #eeeeee;
  background-color: #222222;
  font-family: Inconsolata, monospace;
  font-size: 1.5em;
}

.log a, .log a:visited {
  color: #eeeeee;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.debug {
  color: #888888;
}

#wfs3url {
  width: 50%;
}

.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}

.fi {
  border-spacing: 0px;
  border: 1px solid #c3c3c3;
}

.fi td,
.fi th {
  padding: 6px;
  text-transform: lowercase;
}

.fi td:first-letter,
.fi th:first-letter {
  text-transform: capitalize;
}

.fi tr:nth-child(even) {
  background-color: #f2f2f2;
}

#map,
#apiinfo {
  border: 3px solid #f2f2f2;
  margin-bottom: 1em;
}

#apiinfo {
  display: inline-flex;
  width: 100%;
  max-height: 250px;
}

#examples {
  padding-right: 1em;
}

#examples button {
  font-size: 80%;
  margin: 0.1em;
}

#collections {
  border-left: 1px solid #f2f2f2;
}

#examples,
#collections {
  width: 50%;
  padding-left: 1em;
  overflow-y: auto;
}
